/* @settings
name: Deep Work Theme Settings

id: deep-work-theme-settings
settings:
    -
        id: deep-work-theme-variant
        title: Theme Style
        type: heading
        level: 2
        collapsed: true
    -
        id: deep-work-theme-light-variant
        title: Light Theme variant
        description: Variations of the Light Theme
        type: class-select
        allowEmpty: false
        default: light-default
        options:
            - light-default
            - light-dimmed
    -
        id: deep-work-theme-dark-variant
        title: Dark Theme variant
        description: Variations of the Dark Theme
        type: class-select
        allowEmpty: false
        default: dark-default
        options:
            - dark-default
            - dark-dimmed
    -
        id: deep-work-theme-colors
        title: Colors
        type: heading
        level: 2
        collapsed: true
    -
        id: color-accent
        title: Accent Color
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#1f6feb'
        default-dark: '#2ea043'
    -
        id: color-accent-light
        title:  Accent Color Light
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#58a6ff'
        default-dark: '#3fb950'
    -
        id: color-accent-secondary
        title: Secondary Accent Color
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#1f6feb'
        default-dark: '#2ea043'
    -
        id: color-accent-secondary-light
        title: Secondary Accent Color Light
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#58a6ff'
        default-dark: '#3fb950'
    -
        id: deep-work-theme-interface
        title: Interface Modifications
        type: heading
        level: 2
        collapsed: true
    -
        id: dwt-hide-scrollbars
        title: Hide Scrollbars
        type: class-toggle
*/
