node_modules

design-vault/.obsidian/workspace
design-vault/.obsidian/plugins/todoist-sync-plugin/data.json
design-vault/.obsidian/plugins/todoist-sync-plugin/main.js
design-vault/.obsidian/plugins/todoist-sync-plugin/manifest.json
design-vault/.obsidian/plugins/todoist-sync-plugin/styles.css
design-vault/.obsidian/todoist-token