@include editor-source-component {
    .CodeMirror-activeline {
        background: var(--dwt-component-activeLine-color-bg);
        color: var(--dwt-component-activeLine-color-fg);
    }
}

@include editor-live-preview-component {
    .cm-line.cm-active {
        background: var(--dwt-component-activeLine-color-bg);
        color: var(--dwt-component-activeLine-color-fg);
    }
}
