@include editor-preview-component {
    blockquote {
        padding: $space $space-xl;
        margin: 0 0 $space 0;

        background: var(--background-primary-alt);
        color: var(--text-normal);
        font-style: italic;
        line-height: $line-height-l;

        border-radius: $border-radius-default;
        border-width: 1px;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    }
}
