@include editor-preview-component {
  .external-link {
    font-weight: 600;
    text-decoration: none;
    background-position-y: 60%;

    &:hover {
      text-decoration: underline;
    }
  }
}

@include editor-source-component {
  .cm-link {
    font-weight: $font-weight-bold;
  }
}
