@include editor-preview-component {
  h1,
  h2 {
    font-weight: 600;
    line-height: $line-height-s;
    padding-bottom: $space-s;
    border-bottom: 1px solid var(--background-secondary-alt);
  }

  h3,
  h4 {
    font-weight: 600;
  }

  h5 {
    font-weight: 600;
    font-style: italic;
  }

  h6 {
    font-weight: 400;
    font-style: italic;
  }
}
