@include editor-preview-component {
    .internal-link {
        font-weight: 600;
        color: var(--text-accent);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@include editor-source-component {
    .cm-hmd-internal-link {
        font-weight: $font-weight-bold;
    }
}

@include editor-live-preview-component {
    .cm-hmd-internal-link {
        font-weight: $font-weight-bold;
    }
}
