@include editor-preview-component {
  .markdown-embed {
    border: none;
    border-radius: 5px;

    .markdown-preview-view {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-left: 10px solid var(--text-accent);
      border-radius: 5px;
      background: var(--background-secondary);
    }

    .markdown-embed-link {
      top: 2rem;
    }
  }
}
