@include editor-preview-component {
  ul.contains-task-list {
    .task-list-item {
      text-decoration: none;

      &-checkbox {
        $size: 16px;

        width: $size;
        height: $size;

        top: 2px;
        filter: hue-rotate(0);
        margin-right: $space-s;
      }

      &.is-checked {
        a {
          color: var(--color-blue-7);
        }
      }
    }
  }
}
