@mixin checkbox-style {
  $size: 16px;

  width: $size;
  height: $size;

  filter: hue-rotate(0);
  margin-right: $space-s;
}

@include editor-preview-component {
  ul.contains-task-list {
    .task-list-item {
      text-decoration: none;

      &-checkbox {
        @include checkbox-style();

        position: relative;
        top: 2px;
      }

      &.is-checked {
        a {
          color: var(--color-blue-7);
        }
      }
    }
  }
}
@include editor-live-preview-component {
  .task-list-item-checkbox {
    @include checkbox-style();

    position: relative;
    top: -2px;
  }
}
