$view-modes: base, source, preview;

// modal
$modal-max-width: 1440px;

// font
$font-weight-extra-thin: 100;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

// border
$border-radius-s: 4px;
$border-radius-default: 6px;
$border-radius-m: 8px;
$border-radius-l: 12px;
$border-radius-xl: 18px;

$border-width-s: 1px;
$border-width-default: 2px;
$border-width-l: 3px;

$border-style-default: solid;

// transitions
$transition-speed-fast: 0.25s;
$transition-speed-mid: 0.5s;
$transition-speed-default: 0.75s;
$transition-speed-slow: 1s;

$transition-ease-default: cubic-bezier(0.075, 0.82, 0.165, 1);

// line-height
$line-height-xs: 1;
$line-height-s: 1.25;
$line-height-default: 1.5;
$line-height-l: 2;

$box-shadow-kanban: 0 5px 15px rgba(0, 0, 0, 0.25);
$box-shadow-modal: 0 10px 30px rgba(0, 0, 0, 0.25);
$box-shadow-embed: 0 10px 30px rgba(0, 0, 0, 0.25);
$box-shadow-embed-hover: 0 15px 50px rgba(0, 0, 0, 0.15);
