.theme-dark {
  --background-primary: var(--color-gray-9);
  --background-primary-alt: var(--color-gray-8);
  --background-secondary: var(--color-gray-8);
  --background-secondary-alt: var(--color-gray-7);
  --background-modifier-border: var(--color-gray-7);
  --background-modifier-form-field: var(--color-gray-8);
  --background-modifier-form-field-highlighted: var(
    --color-gray-8
  );
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: var(--color-green-4);
  --background-modifier-error: var(--color-red-6);
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: var(--color-red-6);
  --background-modifier-cover: rgba(0, 0, 0, 0.1);
  --text-accent: var(--color-blue-4);
  --text-accent-hover: var(--color-blue-3);
  --text-normal: var(--color-gray-1);
  --text-code: var(--color-gray-2);
  --text-muted: var(--color-gray-4);
  --text-muted-rgb: 153, 153, 153;
  --text-faint: var(--color-gray-4);
  --text-error: var(--color-red-4);
  --text-error-hover: var(--color-red-5);
  --text-highlight-bg: rgba(0, 63, 179, 0.75);
  --text-highlight-bg-active: rgba(0, 123, 255, 0.15);
  --text-selection: rgba(23, 48, 77, 0.99);
  --text-on-accent: var(--color-gray-8);
  --interactive-normal: var(--color-gray-7);
  --interactive-hover: var(--color-gray-5);
  --interactive-accent: var(--color-green-4);
  --interactive-accent-rgb: 46, 160, 67;
  --interactive-accent-hover: var(--color-green-3);
  --interactive-success: var(--color-green-5);
  --scrollbar-active-thumb-bg: var(--text-accent);
  --scrollbar-bg: var(--background-primary);
  --scrollbar-thumb-bg: var(--background-primary-alt);
  --highlight-mix-blend-mode: screen;
  --color-topic-tag-bg: rgba(56, 139, 253, 0.1);
  --cursor-bg: var(--color-green-3);
  --active-line-bg: rgba(var(--text-muted-rgb), 0.1);
}
