@use "sass:list";

@mixin file-embed($view-mode) {
  @if not list.index($view-modes, $view-mode) {
    @error "#{$view-mode} is not a valid side. Expected one of #{$view-modes}.";
  }

  @if $view-mode == "preview" {
    .file-embed {
      border: none;
      border-radius: 5px;

      .file-embed-link {
        top: 2rem;
      }
    }
  }
}
