@use "sass:list";

@mixin headings($view-mode) {
  @if not list.index($view-modes, $view-mode) {
    @error "#{$view-mode} is not a valid side. Expected one of #{$view-modes}.";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h1 {
    padding-bottom: 0.3em;
  }

  h1,
  h2 {
    font-weight: 600;
    border-bottom: 1px solid var(--background-secondary-alt);
  }

  h2 {
    padding-bottom: 0.3em;
  }

  h3,
  h4 {
    font-weight: 600;
  }

  h5,
  h6 {
    font-weight: 600;
  }
}
