@use "sass:list";

@mixin internal-link($view-mode) {
  @if not list.index($view-modes, $view-mode) {
    @error "#{$view-mode} is not a valid side. Expected one of #{$view-modes}.";
  }

  .internal-link {
    font-weight: 600;
    color: var(--text-accent);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
