@include ui-component {
  [data-type="file-explorer"] {
    $border-width: 5px;

    .nav-files-container {
      padding: 1rem;

      .nav-folder-title,
      .nav-file-title {
        @include wrap-title-and-folder-names();

        border-left: border($border-width, transparent);
        transition: transition(background-color), transition(border-left),
          transition(color, $transition-speed-slow);
        margin-bottom: 0.25rem;

        &:hover {
          border-left: border($border-width, var(--interactive-hover));
        }
      }

      .nav-file {
        &-title {
          &.is-active {
            border-left: border($border-width, var(--interactive-accent));
          }
        }
      }
    }
  }
}
