.workspace-leaf-content[data-type="file-explorer"] {
    $border-width: $border-width-xl;

    padding: $space;

    .nav-files-container {
        .nav-folder {
            &:not(.mod-root) {
                margin-bottom: $space-s;
                border-left: border($border-width, var(--dwt-semantic-color-bg-accent));
                border-radius: $border-radius-s;

                &.is-collapsed {
                    border-left: border($border-width, transparent);

                    .nav-folder-title {
                        // color: var(--text-muted);
                    }
                }
            }

            &-title {
                @include wrap-title-and-folder-names();

                transition: transition(background-color), transition(border-left),
                    transition(color, $transition-speed-slow);
                margin-bottom: $space-xs;
                color: var(--text-on-accent);

                &:hover {
                    background-color: var(--background-primary-alt);
                }
            }
        }

        .nav-file {
            &-title {
                @include wrap-title-and-folder-names();

                transition: transition(background-color), transition(border-left),
                    transition(color, $transition-speed-slow);
                margin-bottom: 0.25rem;

                &:hover {
                    background-color: var(--background-primary);
                }

                &.is-active {
                    background-color: var(--dwt-semantic-color-bg-accent);
                    color: var(--text-on-accent);
                }
            }
        }
    }
}
