.modal {
    background: var(--background-primary);
    border-radius: $border-radius-xl;
    box-shadow: $box-shadow-modal;

    .prompt-results {
        padding: $space-l;
    }

    &.mod-settings {
        max-width: $modal-max-width;
    }

    &.mod-community-theme {
        max-width: $modal-max-width;
    }

    &-bg {
        backdrop-filter: blur(10px);
    }

    .community-plugin {
        &-search {
            border-radius: $border-radius-xl 0 0 $border-radius-xl;
        }

        &-details {
            border-radius: 0 $border-radius-xl $border-radius-xl 0;
        }
    }
}
