@include ui-component {
  $border-width: 5px;

  .prompt {
    box-shadow: $box-shadow-modal;

    &-input {
      background-color: var(--background-primary-alt);
      margin-bottom: $space;
    }

    &-results {
      padding: $space;

      .suggestion {
        &-item {
          border-left: border($border-width, transparent);
          border-radius: $border-radius-default;
          transition: transition(
              border-left,
              $transition-speed-fast
            ),
            transition(
              background-color,
              $transition-speed-default
            ),
            transition(color, $transition-speed-default);

          // Verticall center hotkey
          .suggestion-hotkey {
            position: relative;
            top: 0.25em;
          }

          &.is-selected {
            background-color: var(--background-secondary-alt);
            color: var(--interactive-accent);
            border-left: border(
              $border-width,
              var(--interactive-hover)
            );
          }
        }
      }
    }
  }
}
