.setting-item {
    $height: 24px;

    .setting-hotkey {
        border-radius: $border-radius-default;
        padding: $space-xxs $space;
        min-height: $height;
        line-height: $height;
    }
}
