$selector-status-bar: ".status-bar";

@include ui-component {
  #{$selector-status-bar} {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--layer-status-bar);

    max-height: none;
    width: fit-content;

    display: inline-flex;
    justify-content: flex-end;
    align-self: flex-end;

    background-color: var(--background-primary);
    color: var(--text-normal);

    border-radius: $border-radius-l $border-radius-l 0 0;
    border: {
      top: border(1px, var(--background-secondary));
      right: border(1px, var(--background-secondary));
      left: border(1px, var(--background-secondary));
      bottom: none;
    }
    user-select: none;
    font-size: 14px;
    font-family: var(--editor-font);
    line-height: 1;
    gap: $space;
    padding: $space-xs $space;

    &-item,
    &-item-segment {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      line-height: 1;
      padding: 0;

      svg {
        // remove little space below icon
        display: block;
      }
    }
  }
}
