$selector-status-bar: ".status-bar";

@include ui-component {
  #{$selector-status-bar} {
    display: flex;
    justify-content: flex-end;
    align-self: center;

    max-height: none;
    width: 100%;

    background-color: var(--background-primary);
    color: var(--text-muted);

    font-size: 14px;
    font-family: var(--editor-font);
    line-height: 1;
    border-top: border(1px, var(--background-secondary));

    gap: $space;
    padding: $space-xs $space;
    user-select: none;

    &-item,
    &-item-segment {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      line-height: 1;
      padding: 0;

      svg {
        // remove little space below icon
        display: block;
      }
    }
  }
}
