.titlebar {
    height: $height-header !important;

    &-inner {
        background: var(--background-primary-alt);
        color: var(--text-normal);
    }

    &-text {
        top: 5px;
    }

    &-button-container {
        top: 0px;
    }

    &-button {
        opacity: 1;
    }
}

@include if-body-has($style-setting-disable-dark-sidebars-class) {
    .titlebar {
        &-inner {
            background: var(--background-primary);
        }
    }
}
