// Necessary to modify to make space for the increased height of the titlebar
body {
  padding-top: $height-header !important;
}

@include ui-component {
  .titlebar {
    height: $height-header !important;

    &-inner {
      background: var(--background-secondary-alt);
      color: var(--text-normal);
    }

    &-text {
      top: 5px;
    }

    &-button-container {
      top: 0px;
    }

    &-button {
      opacity: 1;
    }
  }
}
